recursive-include examples *.py
recursive-include tests *.py SNIMPY-MIB.mib SNIMPY-INVALID-MIB.mib

# Documentation
include man/snimpy.1
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include README.rst
recursive-include docs *.rst *.py
recursive-include docs/_themes *
recursive-include docs/_static *

# Remove CFFI files
global-exclude __pycache__/*

# Remove git directories
global-exclude .git
